<div id='boats_index'>
<h1>Boats</h1>

<%= link_to "New Ship", new_boat_path %>

<table>
  <tr>
    <th>Ship Name</th>
    <th>Container Capacity</th>
    <th>Location</th>
  </tr>
<% @boats.each do |boat| %>
<tr>
  <td>
    <%=link_to boat.name, boat_path(boat) %> </li>
  </td>
  <td><%=boat.container_capacity%></td>
  <td><%=boat.location%></td>
</tr>
<%end%>
</table>
</div>
